@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet");
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #251b1b;
}

.root-container {
    display: flex;
    width: 1000px;
    height: inherit;
}

.main-container {
    display: flex;
    background-color: #181818;
    height: 100%;
}

.picture-container {
    padding: 50px 8px;
    margin-bottom: 30px;
}

.pic2-3 {
    padding: 10px 5px;
}

.main-input {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

.main-input-container {
    flex-grow: 1;
    width: 600px;
    height: 74px;
    background-color: #121212;
   padding: 0 8px;
    color: white;
}


.main-text {
    background-color: #202020;
    padding: 30px 50px;
}

.main-desc {
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.main-data {
    font-size: 12px;
    color: #828282;
}


.main-code-post {
    padding: 60px 26px;
    background-color: #202020;
    margin-bottom: 30px;
}

.img-desctop {
    padding: 30px 50px;
}

.post-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.main-post {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.2;
    color: #D2D2D2;
}

.date-post {

    font-size: 12px;
    line-height: 1.2;
    color: #828282;
}

.write-post {
    margin-left: 306px;

    }

.title {
    padding: 30px 50px;
    text-decoration: none;
    color: #3137C9;
}


.desctop-sale {
    padding: 60px 26px;
    background-color: #202020;
    margin-bottom: 30px;
}

.sale-des {
    padding: 30px 50px;
}

.sale-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.title-des {
    text-decoration: none;
    color: #3137C9;
}

.confere-main {
    padding: 60px 26px;
    background-color: #202020;
    margin-bottom: 30px;
}

.conf-pic {
    padding: 30px 50px;
}

.conf-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.conf-text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.2;
    color: #D2D2D2;
    word-break: break-all;
}

.title-conf {
    text-decoration: none;
    color: #3137C9;
}


/*<------SideBar не вытягивается по всей странице*/
/* Инпут забыла как убрать рамку, сделать отступ между ним и слово профиль*/
/* засунуть кнопки в инпут так и не дошло*/
/*текст параграфа топорно выглядит и не могу сделать как на макете*/
/*отступ между li и текстом слишком большой*/
/* все секции выходят из берегов и не держат контейнер */
/*оставить комментарий непонятно где и не знаю когда вернется*/