@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet");



.page-section {
    background-color: #202020;
}

.btn-two {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
}


.btn-page-two {
    background-color: #202020;
    color: #828282;
}

.title-container {
    padding: 60px 26px;

}

.title-page-two {
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.small-title {
    color:#828282;
    font-size: 12px;
}

.title-link-two {
    font-size: 18px;
    line-height: 1.2;
    color: white;
    padding: 0 25px;
}

.text-page-two {

    margin-bottom: 23px;
    padding: 0 25px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.image-page-two {
    padding: 0 25px;
    margin-bottom: 23px;
    width: 700px;
}

.links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.link {
    list-style: none;
    padding: 0;
    margin: 0;
    display: contents;
}

.links-information {
    margin: 0;
}

.links-information a {
    padding: 25px;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: #F3EBA2;
    display: block;

}

.discussion-title {
    padding: 0 25px;
    font-size: 18px;
    line-height: 1.2;
    color: white;
    margin-bottom: 16px;
}

.discussion-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0 25px;
}

.discussion-form input {
max-width: 600px;
width: 100%;
padding: 10px;
border: none;
background-color: #333;
color: #fff; /
box-sizing: border-box;
border-radius: 5px;
}

.discussion-btn {
    padding: 10px 20px;
    background-color: #3137C9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.discussion-btn:hover {
    background-color: #0056b3;
}

.comment-one {
    display: flex;
    padding: 0 25px;

}



.author-name {
    color: white;
    padding:0 16px;

}


.author-text {
    padding: 15px 25px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.author-btn {
    padding: 15px 25px;
color: #107EFF;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.2;
}

.author-avatar2 {
    margin-top: 28px;
}