.prof-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-form {
    display: flex;
   font-size: 14px;
    line-height: 16px;
    color: #107EFF;
    text-decoration: underline;
    padding: 0 15px;
}

.mb-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: relative;
    margin-bottom: 20px;
}

.title-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    line-height: 21px;
    padding: 60px 25px;
}

.form-login {
    color: #FFFFFF;
    background-color: #251b1b;
    border: 1px solid #251b1b;
    height: 25px;
    padding:0 8px;

}

.btn-form {
    color: #FFFFFF;
    background-color: #3137C9;
    border-radius: 5px;
    width: 90px;
    height: 30px;
font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

}


.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn-form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.avatar-container img {
    margin-top:150px ;
}

.form-login:focus {
    outline: 0;
    outline-offset: 0;
}

.mb-3:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3F3F3F;
}

.form-login::placeholder {
    vertical-align: bottom;
    position: relative;
    top: 5px;
}