body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #251b1b;
}

.root-container {
    display: flex;
    width: 1000px;
    height: inherit;
}


.sidebar-container {
    width: 300px;
    background-color: #202020;
}

.sidebar-wrap {
    background: url("./images/sidebar.jpg") no-repeat;
    width: inherit;
}


.avatar {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom:19px ;
}

.sidebar-content h4 {
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: white;
    margin-bottom: 3px;
}

.sidebar-content h3 {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color:#DEDEDE ;
    margin-bottom: 17px;
}

.sidebar-links {
    width: 195px;
    margin: 0 auto;
}

.sidebar-links ul {

    display: flex;
    justify-content:space-between;
    align-items: center;

}
.sidebar-links li {
    padding: 0 15px;
    margin-bottom: 60px;

}

.sidebar-desc {
    margin-bottom: 60px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: white;
}

.sidebar-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.left-btn {
    border-radius: 25px;
    height:40px;
    width: 120px;
    font-size: 12px;
    text-align: center;
    background-color:#ED3024 ;
    color: white;
}

.right-btn {
    border-radius: 25px;
    height: 40px;
    width: 120px;
    font-size: 12px;
    text-align: center;
    background-color: #3137C9;
    color: white;
}
